<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/geo-location/geo-location.html" />
<link rel="import" href="/src/login-usuario/login-usuario.html" />
<link rel="import" href="/src/visor-cuentas/gestor-cuentas.html" />
<link rel="import" href="/src/alta-usuarios/alta-usuarios.html" />
<link rel="import" href="/src/visor-cuentas/dm-cuentas.html" />
<link rel="import" href="/src/proyecto-final-app/proyecto-final-app.html" />
<link rel="import" href="/src/css/styles.html" />
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html" />

<dom-module id="event-listener">
  <template>
    <style include="my-style-module"></style>
    <div id="altaUsuariosFab" class="container">
      <paper-fab always-ontop raised class="bbva" icon="account-box" style="float:right;" on-click="darAltaUsuario">Alta Usuarios</paper-fab>
    </div>
    <div class="container" id="altaUsuariosDiv">
      <alta-usuarios id="altaUsuarios"></alta-usuarios>
    </div>
    <div class="container" id="main">
      <login-usuario id="login"></login-usuario>
      <geo-location  id="geoLocation" latitude="{{latitude}}" longitude="{{longitude}}" on-geo-error="manageGeoResponse" on-geo-response="manageGeoResponse"></geo-location>
      <div id="weatherDiv" class="containercenter">
        <span class="colored">
          <h5>{{tiempo}}</h5>
        </span>
      </div>
      <gestor-cuentas id="gestorCuentas"></gestor-cuentas>
    </div>

    <iron-ajax
            id="doTiempo"
            url="http://localhost:3000/apitechu/proyecto/weather"
            handle-as="json"
            content-type="application/json"
            method="POST"
            on-response="manageAJAXResponseTiempo"
            on-error="showError"></iron-ajax>

  </template>

  <script>
    class EventListener extends Polymer.Element {
      static get is() {
        return "event-listener";
      }

      static get properties() {
        return {
          tiempo: String,
        };
      }

      ready() {
        super.ready();
        this.$.altaUsuariosDiv.hidden = true;
        this.$.altaUsuariosFab.hidden = false;

        this.$.login.addEventListener("loginEvent", e => {
          console.log("Logeado: procedamos al gestor de cuentas");
          this.$.weatherDiv.hidden = true;

          // hacerlo asincrono para dar api-terceros al local storage
          setTimeout(() => {
            this.$.altaUsuariosFab.hidden = true;
            this.$.gestorCuentas.cargar(e);
          }, 200);
        });
        this.$.login.addEventListener("logoutEvent", e => {
          console.log("Logout event");
          this.$.weatherDiv.hidden = false;
          this.$.altaUsuariosFab.hidden = false;
          this.$.gestorCuentas.ocultar();
        });
        this.$.altaUsuarios.addEventListener("createEvent", e => {
          console.log("Create event");
          this.$.main.hidden = false;
          this.$.altaUsuariosDiv.hidden = true;
        });
      }

      darAltaUsuario(e) {
        this.$.main.hidden = !this.$.main.hidden;
        this.$.altaUsuariosDiv.hidden = !this.$.altaUsuariosDiv.hidden;
      }

      manageGeoResponse(e) {
        console.log("Llega un geoResponse");
        var latitude = e.detail.latitude;
        var longitude = e.detail.longitude;
        setTimeout(() => {
          var locationData = {
            latitude,
            longitude
          };
          this.$.doTiempo.body = JSON.stringify(locationData);
          this.$.doTiempo.generateRequest();
        }, 100);
      }

      manageGeoError(e) {
        console.log("LLega un geoError usando Madrid " + JSON.stringify(e));
        var locationData = {
          latitude: 40.416775,
          longitude: -3.703790
        };
        this.$.doTiempo.body = JSON.stringify(locationData);
        this.$.doTiempo.generateRequest();
      }

      manageAJAXResponseTiempo(data) {
        let resp = data.detail.response;

        var temperatura = resp.main.temp - 273.15;
        var city = resp.name;

        console.log("Llegan los datos de tiempo");
        if (city !== undefined) {
          this.tiempo = `La temperatura en ${city} es ${temperatura.toFixed(1)}°C`;
        } else {
          this.tiempo = `La temperatura es ${temperatura}°C`;
        }
        console.log(JSON.stringify(resp));
      }

      showError(error) {
        console.log("Hubo un error fatal al coger el tiempo");
        console.log(error);
      }

    }
    window.customElements.define(EventListener.is, EventListener);
  </script>
</dom-module>
