<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html" />
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html" />
<link rel="import" href="/src/css/styles.html" />

<dom-module id="login-usuario">
  <template>
    <style include="my-style-module"></style>
    <link rel="stylesheet" href="/src/css/bootstrap.min.css" crossorigin="anonymous">

    <div class="container"><svg xmlns="http://www.w3.org/2000/svg" viewBox="293 284.9 866 270" style="height:1em" class="svg-bbva-logo" fill="#1A449B"><title>BBVA</title><path d="M633 554.9H521v-270h116c56 0 74 46 46 86l-12 20c92 48 62 164-38 164zm-12-150l22-34c6-8 6-14 6-20 0-16-14-30-30-30h-36v198h20c32 0 56-18 56-58 0-34-16-52-38-56zm-214 150H293v-270h118c54 0 74 46 46 86l-14 20c92 48 62 164-36 164zm-14-150l22-34c6-8 8-14 8-20 0-16-16-30-32-30h-34v198h18c32 0 56-18 56-58 0-34-14-52-38-56zm508-120h42l-82 270h-64l-88-268 48-2c18 0 22 6 32 36l50 170 62-206zm176 28c-8-22-12-26-32-26h-52l-82 268h42l18-58h98l18 58h72l-82-242zm-94 144l36-122 38 122h-74z"></path></svg></div>

    <div hidden="{{datosUsuario.isLogged}}" class="imgcontainer">
      <img src="/src/login-usuario/img_avatar.png" alt="Avatar" class="avatar">
    </div>

    <div hidden="{{datosUsuario.isLogged}}" class="container">
      <h4 class="title">Por favor introduzca usuario y contraseña</h4>
      <br/>
      <paper-input
        class="input-style"
        id="email"
        placeholder="Email"
        type="text"
        value="{{email::input}}"
      ></paper-input>
      <br/>
      <paper-input
        placeholder="Password"
        type="password"
        value="{{password::input}}"
      ></paper-input>
      <br/>
      <paper-button id="loginButton" style="float:right;" raised class="custom bbva btn-primary btn-lg" on-click="login">Login&nbsp;
        <paper-spinner id="spinner" style="float:right;" active></paper-spinner></paper-button>
      <span hidden$="{{!datosUsuario.desautorizada}}">Usuaria o contraseña incorrectas</span>
      <br/>
    </div>
    <div class="container" hidden="{{!datosUsuario.isLogged}}">
      <h4>{{datosUsuario.generico}} {{datosUsuario.nombre}}</h4>
      <p></p>
      <paper-fab raised class="bbva" icon="power-settings-new" on-click="logout">Logout</paper-fab>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/proyecto/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponseLogin"
      on-error="showError"
    ></iron-ajax>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/proyecto/logout/{{datosUsuario.id}}"
      handle-as="json"
      content-type="application/json"
      method="GET"
      on-response="manageAJAXResponseLogout"
      on-error="showError"
    ></iron-ajax>
    <iron-localstorage id="localStorage"  name="usuario-app-storage"
                       value="{{datosUsuario}}"></iron-localstorage>
    <iron-localstorage id="localStorageCuenta" name="cuenta-app-storage"
                       value="{{cuentaSeleccionada}}"></iron-localstorage>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() {
        return "login-usuario";
      }
      static get properties() {
        return {
          datosUsuario: Object,
          email: String,
          password: String,
          cuentaSeleccionada: Object
        };
      }

      ready() {
        super.ready();
        this.$.spinner.hidden = true;
      }

      // inicializa usuario vacío si no existe
      inicializarUsuarioPorDefecto() {
        this.$.localStorage.reload();
        this.email = undefined;
        this.password = undefined;

        this.datosUsuario = {
          isLogged: false
        }
      }

      inicializarCuentaPorDefecto() {
        this.$.localStorageCuenta.reload();
        this.cuentaSeleccionada = null;
      }

      login() {
        console.log("El usuario ha pulsado el botón de login");
        console.log("voy a enviar la petición de login");
        this.$.spinner.hidden = false;
        this.$.loginButton.disabled = true;

        if (this.email === undefined) this.email = "sbilam6@japanpost.jp";
        if (this.password === undefined) this.password = "FQncJo86uoh";
        this.datosUsuario.email = this.email;
        this.datosUsuario.password = this.password;
        console.log(this.datosUsuario.email);
        console.log(this.datosUsuario.password);

        var loginData = {
          email: this.datosUsuario.email,
          password: this.datosUsuario.password
        };

        console.log("saco datos de login : ");
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Peticion enviada");
      }

      logout() {
        console.log("La usuaria ha pulsado el botón de logout");
        console.log("voy a enviar la petición de logout");
        this.dispatchEvent(new CustomEvent("logoutEvent", { detail: {} }));

        if (this.datosUsuario.id !== undefined) {
          this.$.doLogout.generateRequest();
        }
        this.inicializarCuentaPorDefecto();
        this.inicializarUsuarioPorDefecto();
        console.log("Peticion enviada");
      }

      callbackLogin(data) {
        console.log("Login:" + JSON.stringify(data));
      }

      callbackLogout(data) {
        console.log("Login:" + JSON.stringify(data));
      }

      manageAJAXResponseLogin(data) {
        console.log("Llegan los datos");
        console.log(JSON.stringify(data.detail.response));
        this.$.spinner.hidden = true;
        this.$.loginButton.disabled = false;


        // añade datos usuario en iron localstorage
        this.set("datosUsuario.isLogged", true);
        this.set("datosUsuario.id", data.detail.response.idUsuario);
        this.set("datosUsuario.nombre", data.detail.response.Nombre);
        this.set("datosUsuario.genero", data.detail.response.Genero);
        this.set("datosUsuario.email", this.datosUsuario.email);
        this.set("datosUsuario.password", this.datosUsuario.password);
        this.set("datosUsuario.generico", data.detail.response.generico);
        console.log("login " + JSON.stringify(this.datosUsuario));

        // no es necesario mandar el evento de login porque localstorage los tiene
        this.dispatchEvent(
          new CustomEvent("loginEvent", {
            detail: {}
          })
        );
      }

      manageAJAXResponseLogout(data) {
        console.log("Llegan los datos logout");
        console.log(JSON.stringify(data.detail.response));
        // this.dispatchEvent(new CustomEvent("logoutEvent", { detail: {} }));
      }

      showError(error) {
        console.log("Hubo un error fatal");
        this.$.spinner.hidden = true;
        this.$.loginButton.disabled = false;
        this.datosUsuario = {desautorizada: true, isLogged: false};
        console.log(error);
      }
    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
