!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="dm-movimientos.html" />
<link rel="import" href="visor-movimientos.html" />
<link rel="import" href="/src/css/styles.html" />

<dom-module id="gestor-movimientos">
  <template>
    <style include="my-style-module"></style>
    <div class="container" id="loggedDiv" hidden="{{isHidden}}">
      <dm-movimientos
        id="movimientosDM"
        on-movimientos-cargados="processEvent"
      ></dm-movimientos>
      <visor-movimientos id="visorMovimientos"></visor-movimientos>
    </div>
    <iron-localstorage id="localStorage" name="usuario-app-storage"
                       value="{{datosUsuario}}"
    ></iron-localstorage>
    <iron-localstorage id="localStorageCuenta" name="cuenta-app-storage"
                       value="{{cuentaSeleccionada}}"
    ></iron-localstorage>
  </template>

  <script>
    class GestorMovimientos extends Polymer.Element {
      static get is() {
        return "gestor-movimientos";
      }
      static get properties() {
        return {
          datosUsuario: Object,
          cuentaSeleccionada: Object
        };
      }


      reload() {
        if (!this.isHidden && this.id !== undefined) {
          this.$.loggedDiv.hidden = false;
          console.log("Gestor movimientos reload.");
          console.log(
                  `tenemos esto ${JSON.stringify(this.cuentaSeleccionada)}  ${JSON.stringify(this.datosUsuario)}`
          );

          console.log(this.$);
          this.$.cuentasDM.getCuentas(this.id);
        }
      }

      borrar() {
        console.log("borrar datos de usuaria");
        this.isHidden = true;
        this.$.loggedDiv.hidden = true;
        this.$.visorMovimientos.mostrarMovimientos([]);
      }

      cargar(evento) {
        this.$.localStorage.reload();
        this.$.localStorageCuenta.reload();
        console.log(
          `cargando datos de movimientos ${JSON.stringify(this.cuentaSeleccionada)}  ${JSON.stringify(this.datosUsuario)}`
        );
        if (this.cuentaSeleccionada == null) {
          this.$.visorMovimientos.mostrarMovimientos([]);
        } else {
          this.$.movimientosDM.getMovimientos(this.cuentaSeleccionada.id_cuenta);
        }
      }

      processEvent(evento) {
        let movimientos = evento.detail;
        this.isHidden = movimientos.length === 0;
        console.log(`gestor-movimientos evento ${JSON.stringify(movimientos)}`);
        this.$.visorMovimientos.mostrarMovimientos(movimientos);
      }

    }

    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
