<!-- Construir html para visualizar en una tabla las cuentas -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/css/styles.html" />

<dom-module id="visor-movimientos">
    <template>
        <style include="my-style-module"></style>
        <link rel="stylesheet" href="/src/css/bootstrap.min.css" crossorigin="anonymous">

        <template is="dom-if" if="{{show}}">
            <h2>Movimientos de cuenta</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cargo o Abono </th>
                    <th scope="col">Importe</th>
                </tr>
                </thead>
                <tbody>
                <template is="dom-repeat" items="{{movimientos}}">
                    <tr>
                        <td><h4>{{item.fecha}}</h4></td>
                        <td><h4>{{item.concepto}}</h4></td>
                        <td><h4>{{item.importe}}</h4></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
    </template>
    <script>
        class VisorMovimientos extends Polymer.Element {
            static get is() { return 'visor-movimientos'; }
            static get properties() {
                return {
                    show: Boolean,
                    movimientos: {
                        type: Array,
                        value : []

                    }
                }
            }
            borrar() {
                this.mostrarMovimientos([]);
            }

            mostrarMovimientos(movimientos) {
                console.log(`movimientos en visor de movimientos ${JSON.stringify(movimientos)}`);
                if (movimientos.length === 0) {
                    this.show = false;
                } else {
                    this.show = true;
                }
                this.movimientos = movimientos;
            }
        }
        window.customElements.define(VisorMovimientos.is, VisorMovimientos);
    </script>
</dom-module>
