<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="dm-cuentas">
  <template> </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmCuentas extends Polymer.Element {
      static get is() {
        return "dm-cuentas";
      }
      static get properties() {
        return {};
      }

      getCuentas(id) {
        fetch(
           `https://api.mlab.com/api/1/databases/proyectofinal/collections/cuenta?q={"id_usuario":${id}}&apiKey=om734PN4Q6nAxJSFln7VQg8jDOKO_ih9`
         )
    //    `https://api.mlab.com/api/1/databases/proyectofinal/collections/cuenta?q={"id":7}&apiKey=om734PN4Q6nAxJSFln7VQg8jDOKO_ih9`
    //  )
          .then(response => response.json())
          .then(json => {
            console.log("enseño cuentas" + JSON.stringify(json))
            // 2. tratamiento de datos: normalizar respuesta (json)
            const cuentas = json.map(cuentas => {
              return {
                iban: cuentas.iban,
                balance: cuentas.saldo,
                id_usuario: cuentas.id_usuario,
                id_cuenta: cuentas.id,
                type_cc: cuentas.type_cc,
              };
            });

            this.dispatchEvent(
              new CustomEvent("cuentas-cargadas", {
                detail: cuentas,
                bubbles: true,
                composed: true
              })
            );
          });
      }
    }
    window.customElements.define(DmCuentas.is, DmCuentas);
  </script>
</dom-module>
