!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="dm-cuentas.html" />
<link rel="import" href="visor-cuentas.html" />
<link rel="import" href="/src/visor-movimientos/gestor-movimientos.html" />
<link rel="import" href="/src/css/styles.html" />


<dom-module id="gestor-cuentas">
  <template>
    <style include="my-style-module"></style>
    <div id="gestorCuentasDiv" class="container" hidden="{{!datosUsuario.isLogged}}">
      <dm-cuentas id="cuentasDM" on-cuentas-cargadas="processEvent"></dm-cuentas>
      <visor-cuentas id="visorCuentas"></visor-cuentas>
      <gestor-movimientos id="gestorMovimientos"></gestor-movimientos>
    </div>
    <iron-localstorage id="localStorage" name="usuario-app-storage"
                       value="{{datosUsuario}}"
    ></iron-localstorage>
  </template>

  <script>
    class GestorCuentas extends Polymer.Element {
      static get is() {
        return "gestor-cuentas";
      }
      static get properties() {
        return {
          datosUsuario: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();
        this.$.visorCuentas.addEventListener("cargarMovimientos", e => {
          console.log("Cargar movimientos gestor movimietos");
          // hacerlo asincrono para dar tiempo al local storage
          setTimeout(() => {
            this.$.gestorMovimientos.cargar(e);
          }, 516)
        });
        this.$.visorCuentas.addEventListener("cargarCuentas", e => {
          console.log("Cargar cuentas");
          // hacerlo asincrono para dar tiempo al local storage
          setTimeout(() => {
            this.cargar(e);
          }, 516)
        });
      }

      ocultar(e) {
        this.$.gestorCuentasDiv.hidden = true;
        this.$.visorCuentas.borrar()
        this.$.gestorMovimientos.borrar();
      }
      cargar(evento) {
        this.$.localStorage.reload();
        console.log(
          `cargando datos de usuaria ${JSON.stringify(this.datosUsuario)}`
        );
        if (this.datosUsuario.isLogged && this.datosUsuario.id !== undefined) {
          console.log("Gestor cuentas. Cargar.");
          console.log(
                  `tenemos esto ${JSON.stringify(this.cuentaSeleccionada)}  ${JSON.stringify(this.datosUsuario)}`
          );
          this.$.cuentasDM.getCuentas(this.datosUsuario.id);
        }
      }

      processEvent(evento) {
        console.log(`gestor-cuentas evento ${JSON.stringify(evento.detail)}`);
        this.$.gestorCuentasDiv.hidden = false;
        this.$.visorCuentas.mostrarCuentas(evento.detail);
      }
    }

    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
