<!-- Construir html para visualizar en una tabla las cuentas -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="/src/css/styles.html" />

<dom-module id="visor-cuentas">
  <template id="lista">
    <div id="visorCuentasDiv" class="container">
      <style include="my-style-module"></style>
      <link rel="stylesheet" href="/src/css/bootstrap.min.css" crossorigin="anonymous">
      <h2>Cuentas</h2>

      <br/>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">IBAN</th>
          <th scope="col">Saldo</th>
        </tr>
        </thead>
        <tbody>
        <template is="dom-repeat" items="{{cuentas}}" as="item">
          <tr>
            <td><h4>{{item.type_cc}}</h4></td>
            <td><h4>{{item.iban}}</h4></td>
            <td><h4>{{item.balance}}</h4></td>
          </tr>
          <tr>
            <td colspan="2">
              <input
                      class="input-style"
                      id="cuenta_{{item.id_cuenta}}"
                      placeholder="0"
                      type="number"
              ></input>
              <paper-button raised  class="custom bbvaoscuro" on-click="ingresar">Ingresar</paper-button>
              <paper-button raised class="custom bbva" on-click="reintegrar">Reintegrar</paper-button>
            </td>
            <td><paper-button raised  class="custom bbva" on-click="consultarmov">Consulta</paper-button></td>
          </tr>
        </template>
        </tbody>
      </table>
      <iron-localstorage id="localStorage" name="usuario-app-storage"
                         value="{{datosUsuario}}"
      ></iron-localstorage>
      <iron-localstorage id="localStorageCuenta" name="cuenta-app-storage"
                         value="{{cuentaSeleccionada}}"
      ></iron-localstorage>


      <iron-ajax
              id="crearMovimiento"
              url="http://localhost:3000/apitechu/proyecto/movimientos/crear"
              handle-as="json"
              content-type="application/json"
              method="PUT"
              on-response="manageAJAXResponseCrear"
              on-error="showError"></iron-ajax>

    </div>
  </template>
  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() {
        return "visor-cuentas";
      }
      static get properties() {
        return {
          datosUsuario: Object,
          cuentaSeleccionada: Object,
          cuentas: {
            type: Array,
            value: []
          }
        };
      }
      mostrarCuentas(cuentas) {
        console.log(`cuentas en visor de cuentas ${JSON.stringify(cuentas)}`);
        this.dispatchEvent(new CustomEvent("cargarMovimientos", {}));
        this.cuentas = cuentas;
        // estos de abajo son los que vienen de MLAB
        //this.balance = data.detail.response[0].balance;
      }
      borrar() {
        console.log("borrar cuentas en visor de cuentas");
        this.cuentas = [];
        // estos de abajo son los que vienen de MLAB
        //this.balance = data.detail.response[0].balance;
      }

      ingresar(e) {
        this.cuentaSeleccionada = e.model.get('item');
        var input = Polymer.dom(this.root).querySelector('#cuenta_'+ this.cuentaSeleccionada.id_cuenta);
        if (input !== undefined) {
          var cantidad = parseInt(input.value, 10);
          this.crearMovimiento(cantidad);
        }
      }

      reintegrar(e) {
        this.cuentaSeleccionada = e.model.get('item');
        var input = Polymer.dom(this.root).querySelector('#cuenta_'+ this.cuentaSeleccionada.id_cuenta);
        if (input !== undefined) {
          var cantidad = parseInt(input.value, 10) * -1;
          this.crearMovimiento(cantidad);
        }
      }

      crearMovimiento(cantidad) {
        setTimeout(() => {
          var crearMovimiento = {
            cantidad,
            id_cuenta: this.cuentaSeleccionada.id_cuenta,
            id_usuario: this.cuentaSeleccionada.id_usuario
          };
          console.log(`ingresar ${JSON.stringify(crearMovimiento)}`);
          this.$.crearMovimiento.body = JSON.stringify(crearMovimiento);
          this.$.crearMovimiento.generateRequest();
        });
      }

      consultarmov(e) {
        this.cuentaSeleccionada = e.model.get('item');

        console.log("dispatch " + JSON.stringify(this.cuentaSeleccionada) + " - " +  JSON.stringify(this.datosUsuario))
        this.dispatchEvent(new CustomEvent("cargarMovimientos", {}));
      }

      manageAJAXResponseCrear(data) {
        let resp = data.detail.response;
        console.log("Llegan los datos de crear movimiento");
        // recargar la cuenta para enseñar el movimiento
        this.dispatchEvent(new CustomEvent("cargarMovimientos", {}));
        this.dispatchEvent(new CustomEvent("cargarCuentas", {}));
      }

      showError(error) {
        console.log("Hubo un error fatal al crear movimiento");
        // recargar la cuenta para enseñar el movimiento aunque haya habido un error
        this.dispatchEvent(new CustomEvent("cargarMovimientos", {}));
        console.log(error);
      }

    }
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
