<dom-module id="my-style-module">
    <template>
        <style>
            :host {
                display: block;
                padding: 10px;
            }

            /*div {*/
            /*    display:inline-block;*/
            /*}*/

            /* Bordered form */
            form {
                border: 3px solid #f1f1f1;
            }

            /* Full-width inputs */
            input[type=text], input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            paper-button.custom {
                --paper-button-ink-color: var(--paper-pink-a200);
                /* These could also be individually defined for each of the
                  specific css classes, but we'll just do it once as an example */
                --paper-button-flat-keyboard-focus: {
                    background-color: #ff4081 !important;
                    color: white !important;
                };
                --paper-button-raised-keyboard-focus: {
                    background-color: #ff4081 !important;
                    color: white !important;
                };
            }
            paper-button.custom:hover {
                background-color: #c5cae9;
            }

            paper-button.bbva {
                background-color: #1A449B;
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: #ff4081 !important;
                    color: white !important;
                };
            }

            paper-button.bbvaoscuro {
                background-color: #2A54AB;
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: #ff4081 !important;
                    color: white !important;
                };
            }
            /* Set a style for all buttons */
            button {
                background-color: #1A449B;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
            }

            paper-fab.bbva {
                --paper-fab-background: #2A54AB;
                --paper-fab-keyboard-focus-background: #1A449B;
            }

            /* Set a style for all buttons */
            logoutButton {
                background-color: #1A449B;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                display:inline-block;
            }

            /* Add a hover effect for buttons */
            button:hover {
                opacity: 0.8;
            }

            /* Extra style for the cancel button (red) */
            .cancelbtn {
                width: auto;
                padding: 10px 18px;
                background-color: #f44336;
            }

            /* Center the avatar image inside this container */
            .imgcontainer {
                text-align: center;
                margin: 24px 0 12px 0;
            }

            /* Avatar image */
            img.avatar {
                width: 20%;
                border-radius: 50%;
            }

            /* Add padding to containers */
            .container {
                padding: 16px;
            }

            /* Add padding to containers */
            .containercenter {
                text-align: center;
            }

            /* The "Forgot password" text */
            span.psw {
                float: right;
                padding-top: 16px;
            }

            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
                span.psw {
                    display: block;
                    float: none;
                }
                .cancelbtn {
                    width: 100%;
                }
            }

            select {
                display: inline-block;
                height: 30px;
                width: 150px;
                outline: none;
                color: #74646e;
                border: 1px solid #C8BFC4;
                border-radius: 4px;
                box-shadow: inset 1px 1px 2px #ddd8dc;
                background: #fff;
            }
            /*target Internet Explorer 9 and Internet Explorer 10:*/

            @media screen and (min-width: 0\0) {
                .notIE .fancyArrow {
                    display: none;
                }
            }

            span.colored {
                color: #737373;
                font-weight: 100;
            }

        </style>
    </template>
</dom-module>
