<!-- Construir html para visualizar en una tabla las cuentas -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html" />
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html" />
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html" />
<link rel="import" href="../../bower_components/paper-item/paper-item.html" />
<link rel="import" href="../../bower_components/iron-form/iron-form.html" />
<link rel="import" href="/src/css/styles.html" />

<dom-module id="alta-usuarios">
    <template>
        <style include="my-style-module"></style>
        <link rel="stylesheet" href="/src/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="../../bower_components/web-animations-js/web-animations-next-lite.min.js"></script>
        <div class="container">
            <link rel="stylesheet" href="/src/css/bootstrap.min.css" crossorigin="anonymous">
            <h2>Alta de Usuarios</h2>

            <paper-input class="input-style" id="nombre" placeholder="Nombre" type="string" value="{{first_name::input}}"></paper-input>
            <paper-input class="input-style" id="apellidos" placeholder="Apellidos" type="string" value="{{last_name::input}}"></paper-input>
            <paper-input class="input-style" id="email" placeholder="Email" type="string" value="{{email::input}}"></paper-input>
            <paper-dropdown-menu label="Género">
                <paper-listbox slot="dropdown-content" selected={{genero::input}}>
                    <paper-item>Mujer</paper-item>
                    <paper-item>Hombre</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>
            <paper-input class="password" id="password" placeholder="Password" type="string" value="{{password::input}}"></paper-input>
            <br></br><paper-button id="crearButton" raised  class="custom bbva" on-click="crear">Añadir&nbsp;
            <paper-spinner id="spinner" style="float:right;" active></paper-spinner></paper-button>
        </div>

        <iron-ajax
                id="crearAjax"
                url="http://localhost:3000/apitechu/proyecto/users/crear"
                handle-as="json"
                content-type="application/json"
                method="PUT"
                on-response="manageAJAXResponseCrear"
                on-error="showError"
        ></iron-ajax>

    </template>
    <script>
        class AltaUsuarios extends Polymer.Element {
            static get is() {
                return "alta-usuarios";
            }
            static get properties() {
                return {
                    first_name: String,
                    last_name: String,
                    email: String,
                    password: String,
                    genero: Number,
                };
            }

            ready() {
                super.ready();
                this.genero = 0;
                this.$.spinner.hidden = true;
            }

            mostrar() {
                // this.$.altaUsuariosDiv.hidden = false;
            }
            ocultar() {
                // console.log("ocultar alta de usuarios");
                // this.$.altaUsuariosDiv.hidden = true;
            }
            crear(e) {
                console.log(e)
                console.log("Añadiendo usuario " + this.first_name + " " + this.last_name);
                if (this.email === undefined) {
                    alert("Introduzca un correo electrónico");
                    return;
                }
                if (this.email.indexOf("@") === -1) {
                    alert("Introduzca un correo electrónico válido");
                    return;
                }
                this.$.crearButton.disabled = true;
                var genero = "Mujer";
                if (this.genero == 1) {
                    genero = "Hombre";
                }

                var crearData = {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    email: this.email,
                    genero: genero,
                    password: this.password
                };
                this.$.spinner.hidden = false;
                console.log("voy a enviar la petición " + JSON.stringify(crearData));
                this.$.crearAjax.body = JSON.stringify(crearData);
                this.$.crearAjax.generateRequest();
            }

            manageAJAXResponseCrear(data) {
                console.log("Usuario creado");
                console.log(JSON.stringify(data.detail.response));
                alert("Usuario creado");
                this.$.spinner.hidden = true;
                this.dispatchEvent(new CustomEvent("createEvent", {}));
                this.first_name = undefined;
                this.last_name = undefined;
                this.email = undefined;
                this.password = undefined;
                this.genero = 0;
                this.$.crearButton.disabled = false;
            }

            showError(event) {
                if (event.detail.request.xhr.response.mensaje !== undefined) {
                    console.log(event.detail.request.xhr.response);
                    alert(event.detail.request.xhr.response.mensaje);
                } else {
                    console.log(event);
                    alert("Ha habido un error creando el usuario");
                }

                this.$.spinner.hidden = true;
                this.$.crearButton.disabled = false;
            }
        }
        window.customElements.define(AltaUsuarios.is, AltaUsuarios);
    </script>
</dom-module>
